<h1>All stylists</h1>
<ul>
  #foreach ($stylist in $stylists)
    <li><a href="/stylists/$stylist.getId()">$stylist.getName()</a>---<a href="/stylists/$stylist.getId()/edit">update</a></li>

  #end
</ul>
<a href="/stylists/new">Add New stylist</a>
